body.pages-dashboard {

  .chart-title {
    text-align: center;
  }

  .chart-wrapper {
    width: 40%;
    margin: 0 auto;
  }

  .chart-data {
    margin-top: 0;
  }

  .chart-legend-color {
    line-height: 1em;
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.25em;
  }

}
